################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hazel_copy
/Sandbox/Sandbox.vcxproj.user
/Sandbox/Sandbox.vcxproj.filters
/Sandbox/Sandbox.vcxproj
/Hazel_copy/Hazel_copy.vcxproj.user
/Hazel_copy/Hazel_copy.vcxproj.filters
/Hazel_copy/Hazel_copy.vcxproj
