################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hazel_copy
/Sandbox/Sandbox.vcxproj.user
/Hazel_copy/Hazel_copy.vcxproj.user

